*{
  margin: 0;
  padding: 0;
  transition-duration: 1s;
}

  body{
    background:url("image/123.gif");
    background-size: cover;
    animation: moving 85s linear infinite;
  }
  #spanloading{
    font-family: 'Lobster', cursive;
    font-size: 25px;
    display:inline-block;
    color: white;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #loader{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #211f25 url("image/coffiecup.gif") no-repeat center;
    z-index: 999;
    overflow: hidden;
  }

  @keyframes moving {
    0% { background-position: 0 0; }
    100% { background-position: 1000vw 0 ; }
  }
  nav{
    font-family: 'Ubuntu', sans-serif;
    z-index: -2;
    display: flex;
    padding: 0.7% 6%;
    justify-content: space-between;
    align-items: center;
    background-color: black;
  }
  nav:hover{
    background-color: rgba(0, 0, 0, 0.64);
    padding: 0.7% 5%;
    box-shadow: 0 0 55px black;
  }
  span{
    font-weight:500;
    font-size: 25px;
    padding-left: 2%;
  }
  span a{
    text-decoration: none;
    color: aliceblue;
  }
  img{
    width: 55px;
  }
  .nav-link{
    flex:1;
    text-align: right;
  }
  .nav-link ul li{
    display: inline-block;
    list-style: none;
    padding: 8px 12px;
    position: relative;
  }
  .nav-link ul li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 15px;
  }
