/* *{
  margin: 0;
  padding: 0;
  transition-duration: 1s;
} */

body {
  background: url("image/123.gif");
  background-size: cover;
  animation: moving 85s linear infinite;
}

#loader {
  margin: 0;
  padding: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: #211f25 url("image/coffiecup.gif") no-repeat center;
  z-index: 999;
  overflow: hidden;
}

#spanloading {
  font-family: 'Lobster', cursive;
  font-size: 25px;
  display: inline-block;
  color: white;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.glass-eff {
  background: rgba( 255, 255, 255, 0.10);
  box-shadow: 0 8px 25px 0 rgba( 31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  /* border-radius: 10px; */
  border: 1px solid rgba(255, 255, 255, 0.28);
}

@keyframes moving {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 1000vw 0;
  }
}